name: Smoke Test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  smoke-test:
    runs-on: 4-core-ubuntu-gpu-t4

    steps:
    - uses: actions/checkout@v4
    
    - name: Install uv
      uses: astral-sh/setup-uv@v3
    
    - name: Set up Python
      run: uv python install 3.13
    
    # - name: Find CUDA version
    #   run: |
    #     ls /usr/local | grep cuda
    
    - name: Install package and dependencies
      run: |
        uv sync --dev
        uv pip install "nvidia-cuda-runtime-cu12==12.4.127" \
                "nvidia-cublas-cu12==12.4.5.8" \
                "nvidia-cuda-nvrtc-cu12==12.4.127" \
                "nvidia-cuda-nvcc-cu12==12.4.131"
        python -m pip list | grep nvidia
    
    - name: Clone FACTO source
      run: git clone https://github.com/pytorch-labs/FACTO.git
    
    - name: Build and install FACTO
      run: cd FACTO && uv pip install .
    
    - name: Run smoke test
      run: uv run python -m BackendBench.scripts.main --suite smoke --backend aten 
    
    
    - name: Run FACTO test
      run: uv run python -m BackendBench.scripts.main --suite facto --backend aten --ops "add.Tensor" 
    
    - name: Run pytest tests
      run: uv run pytest test/
