name: Smoke Test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  smoke-test:
    runs-on: 4-core-ubuntu-gpu-t4

    steps:
    - uses: actions/checkout@v4
    
    - name: Install uv
      uses: astral-sh/setup-uv@v3
    
    - name: Set up Python
      run: uv python install 3.13
    
    - name: Install package and dependencies
      run: uv sync --dev

    - name: Install cupy
      run: uv pip install cupy
    
    - name: Clone FlagGems source
      run: git clone git clone https://github.com/FlagOpen/FlagGems.git
    
    - name: Build and install FlagGems
      run: uv pip install FlagGems/
    
    - name: Clone FACTO source
      run: git clone https://github.com/pytorch-labs/FACTO.git
    
    - name: Build and install FACTO
      run: uv pip install FACTO/
    
    - name: Run smoke test
      run: uv run python -m BackendBench.scripts.main --suite smoke --backend aten 
    
    - name: Run FACTO test
      run: uv run python -m BackendBench.scripts.main --suite facto --backend aten --ops "add.Tensor" 
    
    - name: Run pytest tests
      run: uv run pytest test/
